n8n_workflows/prod_smoke_pipeline.json
{
  "id": "prod-smoke-pipeline-v1",
  "name": "YemekTest Prod Smoke Pipeline",
  "nodes": [
    {
      "id": "node-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {}
    },
    {
      "id": "node-orchestrate",
      "name": "Run Prod Smoke",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [340, 300],
      "parameters": {
        "method": "POST",
        "url": "http://orchestrator:8000/api/orchestrate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "task", "value": "homepage loads, public navigation tabs visible, static smoke only, anonymous read only checks"},
            {"name": "test_type", "value": "prod-smoke"},
            {"name": "profile", "value": "web-prod-smoke"},
            {"name": "mode", "value": "CODEX_SONNET"},
            {"name": "budget_usd", "value": "1.0"}
          ]
        }
      }
    },
    {
      "id": "node-if-safety",
      "name": "Check Safety Violation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [580, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "condition-safety-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "Safety policy violation",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-stop-safety",
      "name": "Stop Safety Violation",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [820, 180],
      "parameters": {
        "errorMessage": "={{ 'Safety policy violation: ' + JSON.stringify($json.violations || []) }}"
      }
    },
    {
      "id": "node-get-report",
      "name": "Get Token Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [820, 420],
      "parameters": {
        "method": "GET",
        "url": "http://orchestrator:8000/api/token-report"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {"main": [[{"node": "Run Prod Smoke", "type": "main", "index": 0}]]},
    "Run Prod Smoke": {"main": [[{"node": "Check Safety Violation", "type": "main", "index": 0}]]},
    "Check Safety Violation": {
      "main": [
        [{"node": "Stop Safety Violation", "type": "main", "index": 0}],
        [{"node": "Get Token Report", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [{"name": "yemektest"}, {"name": "prod-smoke"}, {"name": "safe"}],
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0
}
